<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="EquipmentUventaEntities" connectionString="metadata=res://*/Resources.Classes.dbModel.csdl|res://*/Resources.Classes.dbModel.ssdl|res://*/Resources.Classes.dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-ORHFELGHQTN;initial catalog=EquipmentUventa;integrated security=True; application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>